<div class="image-card text-white" id="">
    <div class="d-flex">
        <img src="" class="rounded defaut-img image-container" data-img-id="" style="width: 187px; height: 125px;" alt="" id=""/>
        <div class="button-container ms-auto">
            <label class="btn btn-outline-light" id="">
                {% include '_include/_components/_icons/_edit_image_icon_svg.html.twig' %}
                <input type="file" name="" class="custom-file-input" style="display: none;">
            </label>
            <button type="button" class="btn btn-outline-light" id="">
                {% include '_include/_components/_icons/_delete_image_con_svg.html.twig' %}
            </button>
        </div>
    </div>
</div>
