<div class="modal fade p-5" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Suppression d'un user</h5>
                <button type="button" class="btn text-danger" data-bs-dismiss="modal" aria-label="Close">
                    {% include "_include/_components/_icons/_close_icon_svg.html.twig" %}
                </button>
            </div>
            <div class="modal-body">
                Attention êtes-vous sur de vouloir supprimer l' utilisateur : {{ user.LastName }} {{ user.FirstName }} ?
            </div>
            <div class="modal-footer-modal d-flex m-4">
                <button type="button" class="btn btn-secondary btn-modal me-3" data-bs-dismiss="modal" title="Annuler">Annuler</button>
                <form method="post" action="{{ path('app_admin_user_delete', {'id': user.id}) }}">
                    <input type="hidden" name="token" value="{{ csrfTokens[user.id] }}">
                    <button type="submit" class="btn btn-danger" title="Supprimer">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>