<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Suppression d'un habitat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Attention êtes-vous sur de vouloir supprimer le habitat : {{ habitat.name }} ?
            </div>
            <div class="modal-footer-modal">
                <button type="button" class="btn btn-secondary btn-modal" data-bs-dismiss="modal">Annuler</button>
                <a href="{{ path('app_admin_habitat_delete',{'id' :habitat.id}) }}" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    </div>
</div>