 <footer class="bg-dark footer-back p-4">
    <!-- footer -->
        <div class="row text-center mt-2 ">
            <div class="col-12">
                <p class="text-white text-footer"> Made by fxd</p>
            </div>
            <div class="col-12">
                <p class="text-white text-footer "><span class="text-white fw-semibold me-1">2024&copy;</span></p>
            </div>
            <div class="col-12">
                <a href="{{ path('legal_mentions') }}">Mentions légales</a>
            </div>
        </div>
    <!-- end::Footer -->
  </footer>