{% block gallery_content %}
    <div class="row">
        {% for item in gallery %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ item.name }}</h5>
                    </div>
                    <div class="card-body card-habitat">
                        <div class="image-gallery">
                            {% for image in item.images %}
                                <img src="{{ asset('uploads/images/' ~ currentType ~ '/' ~ image.name) }}" alt="{{ 'Image de ' ~ item.name }}">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}