 <nav class="navbar navbar-light bg-dark">
    <div class="ms-auto me-4 mt-2 mb-2">
        <div class="d-flex align-items-center text-white">
            <img src="" alt="User Avatar" width="30" height="30" class="rounded-circle me-3">
            <span class="me-3">Nom d'utilisateur</span>
            <button class="btn btn-gradiant" id="authButton">Connexion</button>
        </div>
    </div>
</nav>