{% set navType = "sidebar" %}
<nav class="sidebar d-none d-xl-block">
    <ul class="nav flex-column">
        <li class="nav-item d-flex justify-content-end">
            <button id="toggle-btn" class="nav-link toggle-btn text-end">
                <span class="icon">
                {% include "_include/_components/_icons/_collapse_icon_svg.html.twig" %}
                </span>
            </button>
        </li>
        {% include "_include/navbar/_components/_nav_links.html.twig" with {'navType': navType} only %}
  
    </ul>
    <div class="sidebar-logo">
        <img src="{{asset('images/ARCADIA.png')}}" class="w-40 mb-4" style="width: 240px;" alt="log-parc-animalier-arcadia">
    </div>
</nav>

{% block javascripts %}
<script>
    const toggleBtn = document.getElementById('toggle-btn');
    const sidebar = document.querySelector('.sidebar');
    const noticeNumber = document.getElementById('notice-number-sidebar');

     function toggleSidebar() {
        sidebar.classList.toggle('collapsed');
        if (sidebar.classList.contains('collapsed')) {
            noticeNumber.classList.add('notice-number-sidebar-collapsed');
        } else {
            noticeNumber.classList.remove('notice-number-sidebar-collapsed');
        }
    }

    toggleBtn.addEventListener('click', function(e) {
        e.preventDefault();
        toggleSidebar();
    });

</script>
{% endblock %}