  <nav class="sidebar bg-dark">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Acceuil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_user_index') }}">Utilisateeur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_admin_habitat_index')}}">Habitats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Enclos</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
        </ul>
    </nav>