@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");

.bloc-login{
    position: fixed;
    bottom: 200px;
    right: 200px;
    margin: 10px;
    width: 500px;
}

.bg-image{
    height: 100%;
    margin: 0;
    background-image: url('/public/images/lion-bg.jpg'); 
    background-size: cover; 
    background-position: center 30%;
    background-repeat: no-repeat; 
    position: relative;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #343a40;
    padding-top: 20px;
}

.sidebar .nav-link {
    color: #fff;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

h3 {
    font-size: 24px;
}

li, p {
    font-size: 16px;
}

h1, h2, h3, h5, p, li {
    font-family: $font-family-headline-sans-serif;
}

li {
    list-style: none;
}

p {
    color: white;
}

.btn-gradiant, .btn-primary, .btn-secondary, .btn-danger {
    color:white;
    font-family: $font-family-headline-sans-serif;
}

.btn-gradiant{
    background: linear-gradient(to right, $secondary, $primary);
}

.dataTables_wrapper {
    position: relative
}

.custom-table, .custom-card {
    border: 3px solid $secondary;     
    box-shadow: 0 8px 30px $dark;
}

.defaut-img {
    width: 122px;
}

.custom-file-input {
    visibility: hidden;
    position: absolute;
}

.custom-file-label {
    cursor: pointer;
}

.custom-file-label::after {
    content: 'Choisir un fichier';
}


