{% extends layout %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<div class="bg-info  p-4">
    <div class="container">
        <h1 class ="text-center mb-4">Mentions Légales</h1>
        <h2>Projet d'examen</h2>
        <p>Ce site a été créé dans le cadre d'un projet d'examen.</p>

        <h2>Développeur</h2>
        <p>François Xavier Darragon</p>
        <p>Email : fxd15130@gmail.com</p>

        <h2>Hébergeur</h2>
        <p>Amazon Web Services (AWS)</p>
        <p>38 Avenue John F. Kennedy</p>
        <p>L-1855, Luxembourg</p>
        <p>Amazon Europe Core SARL</p>
        <p>Numéro RCS Luxembourg : B180290</p>

        <h2>Données personnelles</h2>
        <p>Les données saisies sont uniquement utilisées dans le cadre de ce projet d'examen et ne sont pas conservées.</p>

        <h2>Propriété intellectuelle</h2>
        <p>Les images, logo et contenus utilisés sont libres de droits ou utilisés avec autorisation dans le cadre de cet examen.</p>

        <h2>Cookies</h2>
        <p>Ce site utilise des cookies techniques nécessaires à son fonctionnement.</p>
    </div>
</div>
{% endblock %}
